.header {
  display: flex;
  align-items: center;
  background: #A02731;
  height: 86px;
}

.logo {
  width: 24px;
  height: 24px;
  margin: 0 46px;
}

.search-box {
  position: relative;
  width: 426px;
  height: 56px;
  font-size: 24px;
  border-radius: 30px;
  background: rgba(255, 255, 255, .5);
  overflow: hidden;
}

.input {
  padding-left: 60px;
  color: #FFF;
  line-height: 56px;
  height: 56px;
}

.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  width: 32px;
  height: 32px;
}
